<!DOCTYPE html>
<html>
    <head>
        <title>Bài đã đăng</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="../css/fontawesome-free-5.11.2-web/css/all.min.css">
        <link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="../css/admin.css" type="text/css">
    </head>
    <body>
        <!-- header -->
        <div id="header">
            <h2>ADMIN</h2>
            <ul>
                <li>
                    <a id="user" href="dangnhap.html" id="sub_icon"><i class="far fa-user"></i>  <span>Lò Văn Chọi</span></a>
                </li>
                <li id="dangxuat">
                    <a href="dangnhap.html"><i class="fas fa-sign-out-alt"></i>  Đăng xuất</a>
                </li>
            </ul>
        </div>

        <!-- menu -->

        <div id="menu">
            <h2>Menu</h2>
            <span>
                <ul>
                    <li><button id="btnguoidung" onclick="hienNguoiDung()">Người dùng</button></li>
                    <li><button id="btbaidang" onclick="hienBaiDang()">Bài đăng</button></li>
                </ul>
            </span>
        </div>

        <!-- nội dung -->
        <div class="container nguoidung" id="nguoidung">
            <div class="row">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Email</th>
                            <th>xóa</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                choi@gmail.com
                            </td>
                            <td>
                                <a href="#" style="color: black; font-size: 20px;"><i class="fas fa-trash"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="container baidang" id="baidang">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th id="cv">Tên công việc</th>
                        <th>Mức lương</th>
                        <th>Khu vực</th>
                        <th>Hạn nộp</th>
                        <th id="quantam">Xóa</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <a href="chitietcv.html" id="vitrituyen"
                            id="vitrituyen">Vị trí tuyển dụng</a>
                            <p>tên công ty</p>
                        </td>
                        <td>
                            <span><i class="fas fa-dollar-sign"></i>  12-20tr</span>
                        </td>
                        <td>
                            <span><i class="fas fa-map-marker-alt"></i>  Hà Nội</span>
                        </td>
                        <td><i class="far fa-clock"></i>  20/12/2019</td>
                        <td>
                            <a href="#" style="color: black; font-size: 20px;"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <script src="../js/admin.js"></script>
    </body>
</html>
